:root {
  --green-color: #0ebaa9;
  --blue-color: #1976d2;
  --text-color: #383838;
  --secondary-text-color: #909090;
}
@font-face {
  font-family: "Trip Sans";
  src:
    local("/src/fonts/Trip Sans Regular"),
    local("/src/fonts/Trip-Sans-Regular"),
    url("/src/fonts/TripSans-Regular.woff2") format("woff2"),
    url("/src/fonts/TripSans-Regular.woff") format("woff"),
    url("/src/fonts/TripSans-Regular.ttf") format("truetype");
}
body {
  font-family: "Trip Sans", sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
  text-align: center;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
.header-link {
  color: black;
  text-decoration: none;
}
.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-image {
  width: 120px;
  height: 120px;
  align-self: start;
  overflow: hidden;
  border-radius: 50%;
}
/* home page */
.welcome-msg {
  padding: 30px 10px;
  background-color: #3db542;
  border: 2px solid rgb(59, 59, 59);
  border-radius: 5px;
  position: fixed;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  font-size: 18px;
  z-index: 200;
}
.home-page {
  padding: 40px 0;
}
.home-page h1 {
  margin: 10px 0;
  font-size: 55px;
  font-weight: 900;
}
.home-page .search {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.home-page .search svg {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.home-page input[name="search"] {
  border-radius: 40px;
  padding: 15px;
  font-weight: 300;
  width: 100%;
  margin: 5px;
  border: 0;
  box-shadow: 0 0 10px #cecece;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  font-size: 20px;
}
.home {
  background-image: url(./assets/home.png),
    linear-gradient(90deg, #d4dff7, #dcc8ff);
  background-size: cover;
  background-position: center;
  padding: 20px 60px;
  text-align: left;
  min-height: 300px;
  color: #301d49;
  border-radius: 20px;
  margin: 30px;
  margin-top: 60px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.home h2 {
  font-size: 40px;
}
.home p {
  font-size: 20px;
}
.home .mobile-image {
  overflow: hidden;
  display: none;
}
@media (max-width: 991px) {
  .home-page h1 {
    font-size: 30px;
    font-weight: 700;
  }
  .home-page .search svg {
    right: 12%;
  }
  .home-page input[name="search"] {
    width: 80%;
  }
  .home {
    padding: 10px;
    margin: 10px;
    min-height: 400px;
  }
  .home p {
    font-weight: 700;
  }
}
@media (max-width: 767px) {
  .home-page {
    padding: 20px 0;
    height: 100%;
  }
  .home-page h1 {
    font-size: 25px;
  }
  .home-page input[name="search"] {
    font-size: 15px;
  }
  .home {
    min-height: unset;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #dcc8ff;
    background-image: none;
    margin: 0;
    margin-top: 30px;
    padding-bottom: 0;
    position: relative;
  }
  .home .MuiContainer-root {
    text-align: center;
  }
  .home .MuiContainer-root > :last-child {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .home button {
    font-size: 10px;
    text-wrap: nowrap;
    max-width: 300px;
    width: 100%;
    z-index: 1;
  }
  .home .mobile-image {
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }
}
/* login page */
.login {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    115deg,
    rgb(86, 216, 228) 10%,
    rgb(159, 1, 234) 90%
  );
}
.login-from {
  max-width: 400px;
  width: 100%;
  margin: 20px;
  border-radius: 5px;
  background-color: white;
  padding: 40px 20px;
}
.from-control {
  position: relative;
}
.home-btn:hover {
  background-color: #009688 !important;
}
.generate-trip {
  .image {
    background-image: url(./assets/generateTripsImage.jpg);
    background-position: right;
    background-size: cover;
    width: 40%;
    filter: brightness(0.7);
  }
}
@media (max-width: 767px) {
  .generate-trip {
    .image {
      display: none;
    }
  }
}
.generate-trip-input-container {
  flex: 1;
  position: relative;
}
.generate-trip-input-container svg {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: var(--green-color);
}

/* user profile */
.lg-w-50 {
  flex-basis: calc(50% - 20px);
}
@media (max-width: 767px) {
  .lg-w-50 {
    flex-basis: 100%;
  }
}

/* search for places page */
.places-page {
  margin-top: 20px;
}
.places-page .search {
  display: flex;
  gap: 10px;
}
.places-page .search > div {
  max-width: 350px;
  flex: 1;
}
.places-page .search > div > div {
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;
}
.places-page .search button {
  background: var(--green-color);
  border-radius: 30px;
  max-width: 110px;
  flex: 1;
  font-size: 17px;
}
.places-page .filters {
  margin-top: 10px;
  border-bottom: 2px solid #cecece;
}
.places-page .filters > div {
  display: flex;
}
.places-page .filters a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  transition: 0.3s;
  text-wrap: nowrap;
  border-bottom: 4px solid transparent;
}
.places-page .filters a:hover,
.places-page .filters a.active {
  background-color: #f4f4f4;
  border-bottom: 4px solid var(--green-color);
}
.places-page .places-container {
  background-color: #f1f1f1;
  min-height: calc(100vh - 200px);
  padding: 10px;
}
.places-page .places-container a {
  text-decoration: none;
}
.place-card {
  background-color: white;
  border-bottom: 1px solid var(--secondary-text-color);
  display: flex;
  gap: 15px;
  padding: 10px;
  max-height: 200px;
  color: var(--text-color);
}
.place-card .image {
  flex-basis: 20%;
  position: relative;
  overflow: hidden;
}
.place-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
  -webkit-filter: brightness(0.6);
}
.place-card .image .place-type {
  position: absolute;
  left: 12px;
  bottom: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
}
.place-card .content {
  flex: 1;
  text-align: left;
}
.place-card .content .stars svg {
  color: #ffd200;
}
.place-card .content p {
  margin-top: 15px;
  line-break: loose;
}
.place-card .content address {
  color: var(--secondary-text-color);
}
@media (max-width: 767px) {
  .places-page .filters {
    overflow-x: scroll;
  }
  .places-page a {
    padding: 10px;
  }
  .places-page .places-container {
    padding: 0;
    padding-top: 10px;
  }
  .place-card .image {
    flex-basis: 35%;
  }
}
/* trip page */
.trip {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  position: relative;
}
.trip aside {
  grid-column: span 5;
  z-index: 100;
  background-color: white;
}
.trip .map {
  grid-column: span 9;
  min-height: 90vh;
}
.trip-header {
  padding: 10px 20px;
  border-bottom: 1px solid var(--secondary-text-color);
  color: var(--text-color);
}
.trip-header h2 {
  font-weight: 600;
}
.trip-header ul {
  padding: 0;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.trip-header ul li span {
  color: var(--blue-color);
}
.day-item {
  border-bottom: var(--secondary-text-color) 1px solid;
  transition: 0.3s;
  background-color: white;
  cursor: pointer;
}
.day-item:hover,
.day-item.active {
  background-color: #f4f4f4;
  color: var(--blue-color);
}
.day-item .avatar {
  transition: 0.3s;
}
.day-item:hover .avatar,
.day-item.active .avatar {
  background-color: var(--blue-color);
}
.place-popup,
.day-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 90%;
  max-width: 800px;
  border-radius: 5px;
}
.place-popup .place-card {
  border-bottom-color: #d9d9d9;
}
.place-popup .content {
  flex: 1;
}
.day-popup {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--secondary-text-color);
  }
  .body ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    svg {
      color: var(--green-color);
    }
  }
}
.place-popup .header .image {
  border-radius: 4px;
  flex-basis: 25%;
}
.place-popup .header .image .place-type {
  display: none;
}
.trip-mobile-btn {
  position: absolute !important;
  left: 15px;
  top: 15px;
  display: none !important;
  z-index: 100;
  background-color: white !important;
  padding: 5px 10px !important;
  border-radius: 5px !important;
  box-shadow: 0px 0px 5px 0px #7a7a7a;
}
.place-popup .body img {
  width: 20px;
}
.place-popup .body svg {
  color: var(--text-color);
}
.place-popup .body .MuiStack-root {
  gap: 3rem !important;
}
.place-popup .body .MuiStack-root div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .trip aside {
    grid-column: span 0;
    display: none;
  }
  .trip .map {
    grid-column: span 14;
  }
  .trip-mobile-btn {
    display: block !important;
  }
  .place-popup .header .image {
    flex-basis: 40%;
  }
  .place-popup .body .MuiStack-root {
    gap: 0;
    justify-content: space-between;
  }
}

/* About page */
.about .image {
  flex-basis: 30%;
  margin-top: 1em;
}
.about .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .content {
  text-align: left;
  flex: 1;
}
.about .content p {
  line-height: 21px;
  font-size: 18px;
}
.about .content span {
  color: var(--green-color);
  font-weight: bold;
}
@media (max-width: 767px) {
  .about .image {
    display: none;
  }
}

/* Reservation Popup */
.reservation-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 24px;
  border-radius: 5px;
  min-height: 90dvh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 90%;
  outline: none;

  .info {
    grid-column: span 4;
    padding: 20px 10px;
  }

  .form {
    grid-column: span 8;
  }
}

/* spinner */
@keyframes spoinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  width: 12px;
  height: 12px;
  border: 2px solid #f9f9f9;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spoinning 1s linear infinite;
  -webkit-animation: spoinning 1s linear infinite;
  margin: 0 auto;
}
