:root {
  --green-color: rgb(14, 186, 169);
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
.header-link {
  color: black;
  text-decoration: none;
}
/* home page */
.welcome-msg {
  padding: 30px 10px;
  background-color: #3db542;
  border: 2px solid rgb(59, 59, 59);
  border-radius: 5px;
  position: fixed;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  font-size: 18px;
  z-index: 200;
}
.home-page {
  padding: 40px 0;
}
.home-page h1 {
  margin: 10px 0;
  font-size: 55px;
  font-weight: 900;
}
.home-page .search {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.home-page .search svg {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.home-page input[name="search"] {
  border-radius: 40px;
  padding: 15px;
  font-weight: 300;
  width: 100%;
  margin: 5px;
  border: 0;
  box-shadow: 0 0 10px #cecece;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  font-size: 20px;
}
.home {
  background-image: url(./assets/home.png),
    linear-gradient(90deg, #d4dff7, #dcc8ff);
  background-size: cover;
  background-position: center;
  padding: 20px 60px;
  text-align: left;
  min-height: 300px;
  color: #301d49;
  border-radius: 20px;
  margin: 30px;
  margin-top: 60px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.home h2 {
  font-size: 40px;
}
.home p {
  font-size: 20px;
}
@media (max-width: 991px) {
  .home-page h1 {
    font-size: 30px;
    font-weight: 700;
  }
  .home-page .search svg {
    right: 12%;
  }
  .home-page input[name="search"] {
    width: 80%;
  }
  .home {
    padding: 10px;
    margin: 10px;
    min-height: 400px;
    background-position: left;
  }
  .home h2 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .home-page {
    padding: 20px 0;
  }
  .home-page h1 {
    font-size: 25px;
  }
  .home-page input[name="search"] {
    font-size: 15px;
  }
  .home {
    min-height: unset;
  }
  .home .MuiContainer-root {
    text-align: center;
  }
  .home .MuiContainer-root > :last-child {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .home button {
    font-size: 10px;
    text-wrap: nowrap;
    max-width: 300px;
    width: 100%;
  }
}
/* login page */
.login {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    115deg,
    rgb(86, 216, 228) 10%,
    rgb(159, 1, 234) 90%
  );
}
.login-from {
  max-width: 400px;
  width: 100%;
  margin: 20px;
  border-radius: 5px;
  background-color: white;
  padding: 40px 20px;
}
.from-control {
  position: relative;
}
.home-btn:hover {
  background-color: #009688 !important;
}
.generate-trip {
  height: 100dvh;
  .image {
    background-image: url(./assets/generateTripsImage.jpg);
    background-position: right;
    background-size: cover;
    width: 40%;
    filter: brightness(0.7);
  }
}
@media (max-width: 767px) {
  .generate-trip {
    .image {
      display: none;
    }
  }
}
.generate-trip-input-container {
  flex: 1;
  position: relative;
}
.generate-trip-input-container svg {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: var(--green-color);
}

/* user profile */
.lg-w-50 {
  flex-basis: calc(50% - 20px);
}
@media (max-width: 767px) {
  .lg-w-50 {
    flex-basis: 100%;
  }
}

/* spinner */
@keyframes ldio-a8jjl73qw7 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-a8jjl73qw7 div {
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid #f9f9f9;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-a8jjl73qw7 div {
  animation: ldio-a8jjl73qw7 1s linear infinite;
  top: 10px;
  left: 10px;
}
.loadingio-spinner-rolling-7brfq3999z9 {
  width: 20px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-a8jjl73qw7 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-a8jjl73qw7 div {
  box-sizing: content-box;
}
