:root {
  --green-color: rgb(14, 186, 169);
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
.header-link {
  color: black;
  text-decoration: none;
}
/* home page */
.welcome-msg {
  padding: 30px 10px;
  background-color: #3db542;
  border: 2px solid rgb(59, 59, 59);
  border-radius: 5px;
  position: fixed;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  font-size: 18px;
  z-index: 200;
}
.home-page {
  padding: 40px 0;
}
.home-page h1 {
  margin: 10px 0;
  font-size: 55px;
  font-weight: 900;
}
.home-page .search {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.home-page .search svg {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.home-page input[name="search"] {
  border-radius: 40px;
  padding: 15px;
  font-weight: 300;
  width: 100%;
  margin: 5px;
  border: 0;
  box-shadow: 0 0 10px #cecece;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  font-size: 20px;
}
.home {
  background-image: url(./assets/home.png),
    linear-gradient(90deg, #d4dff7, #dcc8ff);
  background-size: cover;
  background-position: center;
  padding: 20px 60px;
  text-align: left;
  min-height: 300px;
  color: #301d49;
  border-radius: 20px;
  margin: 30px;
  margin-top: 60px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.home h2 {
  font-size: 40px;
}
.home p {
  font-size: 20px;
}
.home .mobile-image {
  overflow: hidden;
  display: none;
}
@media (max-width: 991px) {
  .home-page h1 {
    font-size: 30px;
    font-weight: 700;
  }
  .home-page .search svg {
    right: 12%;
  }
  .home-page input[name="search"] {
    width: 80%;
  }
  .home {
    padding: 10px;
    margin: 10px;
    min-height: 400px;
  }
  .home p {
    font-weight: 700;
  }
}
@media (max-width: 767px) {
  .home-page {
    padding: 20px 0;
    height: 100%;
  }
  .home-page h1 {
    font-size: 25px;
  }
  .home-page input[name="search"] {
    font-size: 15px;
  }
  .home {
    min-height: unset;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #dcc8ff;
    background-image: none;
    margin: 0;
    margin-top: 30px;
    padding-bottom: 0;
    position: relative;
  }
  .home .MuiContainer-root {
    text-align: center;
  }
  .home .MuiContainer-root > :last-child {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .home button {
    font-size: 10px;
    text-wrap: nowrap;
    max-width: 300px;
    width: 100%;
    z-index: 1;
  }
  .home .mobile-image {
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }
}
/* login page */
.login {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    115deg,
    rgb(86, 216, 228) 10%,
    rgb(159, 1, 234) 90%
  );
}
.login-from {
  max-width: 400px;
  width: 100%;
  margin: 20px;
  border-radius: 5px;
  background-color: white;
  padding: 40px 20px;
}
.from-control {
  position: relative;
}
.home-btn:hover {
  background-color: #009688 !important;
}
.generate-trip {
  .image {
    background-image: url(./assets/generateTripsImage.jpg);
    background-position: right;
    background-size: cover;
    width: 40%;
    filter: brightness(0.7);
  }
}
@media (max-width: 767px) {
  .generate-trip {
    .image {
      display: none;
    }
  }
}
.generate-trip-input-container {
  flex: 1;
  position: relative;
}
.generate-trip-input-container svg {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: var(--green-color);
}

/* user profile */
.lg-w-50 {
  flex-basis: calc(50% - 20px);
}
@media (max-width: 767px) {
  .lg-w-50 {
    flex-basis: 100%;
  }
}

/* search for places page */
.places-page {
  margin-top: 20px;
}
.places-page .search {
  display: flex;
  gap: 10px;
}
.places-page .search > div {
  max-width: 350px;
  flex: 1;
}
.places-page .search > div > div {
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;
}
.places-page .search button {
  background: var(--green-color);
  border-radius: 30px;
  max-width: 110px;
  flex: 1;
  font-size: 17px;
}
.places-page .filters {
  margin-top: 10px;
  border-bottom: 2px solid #cecece;
}
.places-page .filters > div {
  display: flex;
}
.places-page .filters a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  transition: 0.3s;
  text-wrap: nowrap;
  border-bottom: 4px solid transparent;
}
.places-page .filters a:hover,
.places-page .filters a.active {
  background-color: #f4f4f4;
  border-bottom: 4px solid var(--green-color);
}
.places-page .places-container {
  background-color: #f1f1f1;
  min-height: calc(100vh - 200px);
  padding: 10px;
}
.places-page .places-container a {
  text-decoration: none;
}
.places-page .place-card {
  background-color: white;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  gap: 15px;
  padding: 10px;
  max-height: 200px;
  color: #2c2c2c;
}
.places-page .place-card .image {
  flex-basis: 20%;
  position: relative;
  overflow: hidden;
}
.places-page .place-card .image img {
  width: 100%;
  filter: brightness(0.4);
  -webkit-filter: brightness(0.6);
}
.places-page .place-card .image .place-type {
  position: absolute;
  left: 12px;
  bottom: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
}
.places-page .place-card .content {
  text-align: left;
}
.places-page .place-card .content .stars svg {
  color: #ffeb3b;
}
.places-page .place-card .content p {
  margin-top: 15px;
  line-break: loose;
}
@media (max-width: 767px) {
  .places-page .filters {
    overflow-x: scroll;
  }
  .places-page a {
    padding: 10px;
  }
  .places-page .places-container {
    padding: 0;
    padding-top: 10px;
  }
  .places-page .place-card .image {
    flex-basis: 35%;
  }
}
/* trip page */
.trip {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}
.trip aside {
  grid-column: span 4;
}
.trip .map {
  grid-column: span 10;
  min-height: 90vh;
}
@media (max-width: 767px) {
  .trip aside {
    grid-column: span 0;
  }
  .trip .map {
    grid-column: span 14;
  }
}
/* spinner */
@keyframes ldio-a8jjl73qw7 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-a8jjl73qw7 div {
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid #f9f9f9;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-a8jjl73qw7 div {
  animation: ldio-a8jjl73qw7 1s linear infinite;
  top: 10px;
  left: 10px;
}
.loadingio-spinner-rolling-7brfq3999z9 {
  width: 20px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-a8jjl73qw7 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-a8jjl73qw7 div {
  box-sizing: content-box;
}
